#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hope-c-PJLV-ibcBsNO-css {
    z-index: 1;
    width: var(--hope-sizes-full);
    height: 100vh;
}
.hope-c-jKOUQW {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hope-ui-light {
    --hope-colors-background: #f7f8fa;
}
body {
    /* background-color: var(--hope-colors-background); */
    color: var(--hope-colors-neutral12);
    font-family: inherit;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
}
html, body {
    height: 100%;
}
.hope-c-PJLV-ihWgyFw-css {
    background-color: rgb(169, 198, 255);
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.hope-c-PJLV-ifJliWT-css {
    right: -300px;
    top: -900px;
}
.hope-c-PJLV-ifJliWT-css {
    position: absolute;
    /* right: -100px;
    top: -1170px; */
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

* {
    margin: 0px;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
}
.hope-c-PJLV-igjRXTJ-css {
    left: -200px;
    bottom: -400px;
}

.hope-c-PJLV-igjRXTJ-css {
    position: absolute;
    /* left: -100px;
    bottom: -760px; */
}
.hope-c-PJLV-ifjOQLV-css {
    width: 364px;
}

.hope-c-PJLV-ifjOQLV-css {
    flex-direction: column;
    align-items: center;
    row-gap: var(--hope-space-4);
    background-color: white;
    border-radius: var(--hope-radii-xl);
    padding: 24px;
    /* width: 90%; */
}

.hope-c-dhzjXW {
    display: flex;
}
.hope-c-PJLV-igBgqqg-css {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hope-c-PJLV-ibwASZs-css {
    margin-right: var(--hope-space-2);
    width: var(--hope-sizes-12);
    height: var(--hope-sizes-12);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
:root, .hope-t-dFOaUu {
    --hope-colors-blackAlpha1: #00000003;
    --hope-colors-blackAlpha2: #00000007;
    --hope-colors-blackAlpha3: #0000000c;
    --hope-colors-blackAlpha4: #00000012;
    --hope-colors-blackAlpha5: #00000017;
    --hope-colors-blackAlpha6: #0000001d;
    --hope-colors-blackAlpha7: #00000024;
    --hope-colors-blackAlpha8: #00000038;
    --hope-colors-blackAlpha9: #00000070;
    --hope-colors-blackAlpha10: #0000007a;
    --hope-colors-blackAlpha11: #00000090;
    --hope-colors-blackAlpha12: #000000e8;
    --hope-colors-whiteAlpha1: #ffffff00;
    --hope-colors-whiteAlpha2: #ffffff03;
    --hope-colors-whiteAlpha3: #ffffff09;
    --hope-colors-whiteAlpha4: #ffffff0e;
    --hope-colors-whiteAlpha5: #ffffff16;
    --hope-colors-whiteAlpha6: #ffffff20;
    --hope-colors-whiteAlpha7: #ffffff2d;
    --hope-colors-whiteAlpha8: #ffffff3f;
    --hope-colors-whiteAlpha9: #ffffff62;
    --hope-colors-whiteAlpha10: #ffffff72;
    --hope-colors-whiteAlpha11: #ffffff97;
    --hope-colors-whiteAlpha12: #ffffffeb;
    --hope-colors-primary1: #fafdfe;
    --hope-colors-primary2: #f2fcfd;
    --hope-colors-primary3: #e7f9fb;
    --hope-colors-primary4: #d8f3f6;
    --hope-colors-primary5: #c4eaef;
    --hope-colors-primary6: #aadee6;
    --hope-colors-primary7: #84cdda;
    --hope-colors-primary8: #3db9cf;
    --hope-colors-primary9: #05a2c2;
    --hope-colors-primary10: #0894b3;
    --hope-colors-primary11: #0c7792;
    --hope-colors-primary12: #04313c;
    --hope-colors-accent1: #fdfcfe;
    --hope-colors-accent2: #fbfaff;
    --hope-colors-accent3: #f5f2ff;
    --hope-colors-accent4: #ede9fe;
    --hope-colors-accent5: #e4defc;
    --hope-colors-accent6: #d7cff9;
    --hope-colors-accent7: #c4b8f3;
    --hope-colors-accent8: #aa99ec;
    --hope-colors-accent9: #6e56cf;
    --hope-colors-accent10: #644fc1;
    --hope-colors-accent11: #5746af;
    --hope-colors-accent12: #20134b;
    --hope-colors-neutral1: #fbfcfd;
    --hope-colors-neutral2: #f8f9fa;
    --hope-colors-neutral3: #f1f3f5;
    --hope-colors-neutral4: #eceef0;
    --hope-colors-neutral5: #e6e8eb;
    --hope-colors-neutral6: #dfe3e6;
    --hope-colors-neutral7: #d7dbdf;
    --hope-colors-neutral8: #c1c8cd;
    --hope-colors-neutral9: #889096;
    --hope-colors-neutral10: #7e868c;
    --hope-colors-neutral11: #687076;
    --hope-colors-neutral12: #11181c;
    --hope-colors-success1: #fbfefc;
    --hope-colors-success2: #f2fcf5;
    --hope-colors-success3: #e9f9ee;
    --hope-colors-success4: #ddf3e4;
    --hope-colors-success5: #ccebd7;
    --hope-colors-success6: #b4dfc4;
    --hope-colors-success7: #92ceac;
    --hope-colors-success8: #5bb98c;
    --hope-colors-success9: #30a46c;
    --hope-colors-success10: #299764;
    --hope-colors-success11: #18794e;
    --hope-colors-success12: #153226;
    --hope-colors-info1: #fbfdff;
    --hope-colors-info2: #f5faff;
    --hope-colors-info3: #edf6ff;
    --hope-colors-info4: #e1f0ff;
    --hope-colors-info5: #cee7fe;
    --hope-colors-info6: #b7d9f8;
    --hope-colors-info7: #96c7f2;
    --hope-colors-info8: #5eb0ef;
    --hope-colors-info9: #0091ff;
    --hope-colors-info10: #0081f1;
    --hope-colors-info11: #006adc;
    --hope-colors-info12: #00254d;
    --hope-colors-warning1: #fefdfb;
    --hope-colors-warning2: #fff9ed;
    --hope-colors-warning3: #fff4d5;
    --hope-colors-warning4: #ffecbc;
    --hope-colors-warning5: #ffe3a2;
    --hope-colors-warning6: #ffd386;
    --hope-colors-warning7: #f3ba63;
    --hope-colors-warning8: #ee9d2b;
    --hope-colors-warning9: #ffb224;
    --hope-colors-warning10: #ffa01c;
    --hope-colors-warning11: #ad5700;
    --hope-colors-warning12: #4e2009;
    --hope-colors-danger1: #fffcfc;
    --hope-colors-danger2: #fff8f8;
    --hope-colors-danger3: #ffefef;
    --hope-colors-danger4: #ffe5e5;
    --hope-colors-danger5: #fdd8d8;
    --hope-colors-danger6: #f9c6c6;
    --hope-colors-danger7: #f3aeaf;
    --hope-colors-danger8: #eb9091;
    --hope-colors-danger9: #e5484d;
    --hope-colors-danger10: #dc3d43;
    --hope-colors-danger11: #cd2b31;
    --hope-colors-danger12: #381316;
    --hope-colors-loContrast: white;
    --hope-colors-background: var(--hope-colors-loContrast);
    --hope-colors-focusRing: #96c7f2;
    --hope-colors-closeButtonHoverBackground: var(--hope-colors-blackAlpha4);
    --hope-colors-closeButtonActiveBackground: var(--hope-colors-blackAlpha5);
    --hope-colors-progressStripe: var(--hope-colors-whiteAlpha6);
    --hope-space-1: 0.25rem;
    --hope-space-2: 0.5rem;
    --hope-space-3: 0.75rem;
    --hope-space-4: 1rem;
    --hope-space-5: 1.25rem;
    --hope-space-6: 1.5rem;
    --hope-space-7: 1.75rem;
    --hope-space-8: 2rem;
    --hope-space-9: 2.25rem;
    --hope-space-10: 2.5rem;
    --hope-space-12: 3rem;
    --hope-space-14: 3.5rem;
    --hope-space-16: 4rem;
    --hope-space-20: 5rem;
    --hope-space-24: 6rem;
    --hope-space-28: 7rem;
    --hope-space-32: 8rem;
    --hope-space-36: 9rem;
    --hope-space-40: 10rem;
    --hope-space-44: 11rem;
    --hope-space-48: 12rem;
    --hope-space-52: 13rem;
    --hope-space-56: 14rem;
    --hope-space-60: 15rem;
    --hope-space-64: 16rem;
    --hope-space-72: 18rem;
    --hope-space-80: 20rem;
    --hope-space-96: 24rem;
    --hope-space-px: 1px;
    --hope-space-0_5: 0.125rem;
    --hope-space-1_5: 0.375rem;
    --hope-space-2_5: 0.625rem;
    --hope-space-3_5: 0.875rem;
    --hope-sizes-1: 0.25rem;
    --hope-sizes-2: 0.5rem;
    --hope-sizes-3: 0.75rem;
    --hope-sizes-4: 1rem;
    --hope-sizes-5: 1.25rem;
    --hope-sizes-6: 1.5rem;
    --hope-sizes-7: 1.75rem;
    --hope-sizes-8: 2rem;
    --hope-sizes-9: 2.25rem;
    --hope-sizes-10: 2.5rem;
    --hope-sizes-12: 3rem;
    --hope-sizes-14: 3.5rem;
    --hope-sizes-16: 4rem;
    --hope-sizes-20: 5rem;
    --hope-sizes-24: 6rem;
    --hope-sizes-28: 7rem;
    --hope-sizes-32: 8rem;
    --hope-sizes-36: 9rem;
    --hope-sizes-40: 10rem;
    --hope-sizes-44: 11rem;
    --hope-sizes-48: 12rem;
    --hope-sizes-52: 13rem;
    --hope-sizes-56: 14rem;
    --hope-sizes-60: 15rem;
    --hope-sizes-64: 16rem;
    --hope-sizes-72: 18rem;
    --hope-sizes-80: 20rem;
    --hope-sizes-96: 24rem;
    --hope-sizes-px: 1px;
    --hope-sizes-0_5: 0.125rem;
    --hope-sizes-1_5: 0.375rem;
    --hope-sizes-2_5: 0.625rem;
    --hope-sizes-3_5: 0.875rem;
    --hope-sizes-prose: 65ch;
    --hope-sizes-max: max-content;
    --hope-sizes-min: min-content;
    --hope-sizes-full: 100%;
    --hope-sizes-screenW: 100vw;
    --hope-sizes-screenH: 100vh;
    --hope-sizes-xs: 20rem;
    --hope-sizes-sm: 24rem;
    --hope-sizes-md: 28rem;
    --hope-sizes-lg: 32rem;
    --hope-sizes-xl: 36rem;
    --hope-sizes-2xl: 42rem;
    --hope-sizes-3xl: 48rem;
    --hope-sizes-4xl: 56rem;
    --hope-sizes-5xl: 64rem;
    --hope-sizes-6xl: 72rem;
    --hope-sizes-7xl: 80rem;
    --hope-sizes-8xl: 90rem;
    --hope-sizes-containerSm: 640px;
    --hope-sizes-containerMd: 768px;
    --hope-sizes-containerLg: 1024px;
    --hope-sizes-containerXl: 1280px;
    --hope-sizes-container2xl: 1536px;
    --hope-fonts-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol","Noto Color Emoji";
    --hope-fonts-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --hope-fonts-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --hope-fontSizes-2xs: 0.625rem;
    --hope-fontSizes-xs: 0.75rem;
    --hope-fontSizes-sm: 0.875rem;
    --hope-fontSizes-base: 1rem;
    --hope-fontSizes-lg: 1.125rem;
    --hope-fontSizes-xl: 1.25rem;
    --hope-fontSizes-2xl: 1.5rem;
    --hope-fontSizes-3xl: 1.875rem;
    --hope-fontSizes-4xl: 2.25rem;
    --hope-fontSizes-5xl: 3rem;
    --hope-fontSizes-6xl: 3.75rem;
    --hope-fontSizes-7xl: 4.5rem;
    --hope-fontSizes-8xl: 6rem;
    --hope-fontSizes-9xl: 8rem;
    --hope-fontWeights-hairline: 100;
    --hope-fontWeights-thin: 200;
    --hope-fontWeights-light: 300;
    --hope-fontWeights-normal: 400;
    --hope-fontWeights-medium: 500;
    --hope-fontWeights-semibold: 600;
    --hope-fontWeights-bold: 700;
    --hope-fontWeights-extrabold: 800;
    --hope-fontWeights-black: 900;
    --hope-letterSpacings-tighter: -0.05em;
    --hope-letterSpacings-tight: -0.025em;
    --hope-letterSpacings-normal: 0;
    --hope-letterSpacings-wide: 0.025em;
    --hope-letterSpacings-wider: 0.05em;
    --hope-letterSpacings-widest: 0.1em;
    --hope-lineHeights-3: 0.75rem;
    --hope-lineHeights-4: 1rem;
    --hope-lineHeights-5: 1.25rem;
    --hope-lineHeights-6: 1.5rem;
    --hope-lineHeights-7: 1.75rem;
    --hope-lineHeights-8: 2rem;
    --hope-lineHeights-9: 2.25rem;
    --hope-lineHeights-10: 2.5rem;
    --hope-lineHeights-normal: normal;
    --hope-lineHeights-none: 1;
    --hope-lineHeights-shorter: 1.25;
    --hope-lineHeights-short: 1.375;
    --hope-lineHeights-base: 1.5;
    --hope-lineHeights-tall: 1.625;
    --hope-lineHeights-taller: 2;
    --hope-radii-none: 0;
    --hope-radii-xs: 0.125rem;
    --hope-radii-sm: 0.25rem;
    --hope-radii-md: 0.375rem;
    --hope-radii-lg: 0.5rem;
    --hope-radii-xl: 0.75rem;
    --hope-radii-2xl: 1rem;
    --hope-radii-3xl: 1.5rem;
    --hope-radii-full: 9999px;
    --hope-shadows-none: 0 0 #0000;
    --hope-shadows-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --hope-shadows-sm: 0 1px 3px 0 rgb(0 0 0 / 0.09), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --hope-shadows-md: 0 4px 6px -1px rgb(0 0 0 / 0.09), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --hope-shadows-lg: 0 10px 15px -3px rgb(0 0 0 / 0.09), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --hope-shadows-xl: 0 20px 25px -5px rgb(0 0 0 / 0.09), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --hope-shadows-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.24);
    --hope-shadows-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.06);
    --hope-shadows-outline: 0 0 0 3px var(--hope-colors-focusRing);
    --hope-zIndices-hide: -1;
    --hope-zIndices-auto: auto;
    --hope-zIndices-base: 0;
    --hope-zIndices-docked: 10;
    --hope-zIndices-sticky: 1000;
    --hope-zIndices-banner: 1100;
    --hope-zIndices-overlay: 1200;
    --hope-zIndices-modal: 1300;
    --hope-zIndices-dropdown: 1400;
    --hope-zIndices-popover: 1500;
    --hope-zIndices-tooltip: 1600;
    --hope-zIndices-skipLink: 1700;
    --hope-zIndices-notification: 1800;
}
.hope-c-PJLV-ibojvKk-css {
    color: var(--hope-colors-info9);
    font-size: var(--hope-fontSizes-2xl);
}

.hope-c-iqCzBn {
    font-weight: var(--hope-fontWeights-semibold);
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
.hope-c-PJLV-ibtHApG-css {
    border-radius: var(--hope-radii-lg);
}

.hope-c-PJLV-hbsPHc-cv {
    padding-inline-start: var(--hope-space-3);
    padding-inline-end: var(--hope-space-3);
}

.hope-c-kvTTWD-gfwxhr-size-md {
    min-height: var(--hope-sizes-10);
    font-size: var(--hope-fontSizes-base);
    line-height: var(--hope-lineHeights-6);
}

.hope-c-kvTTWD-hYRNAb-variant-filled {
    border: 1px solid transparent;
    background-color: var(--hope-colors-neutral3);
}

.hope-c-kvTTWD {
    appearance: none;
    position: relative;
    width: 100%;
    min-width: 0px;
    outline: none;
    border-radius: var(--hope-radii-sm);
    /* background-color: transparent; */
    /* padding: 0px; */
    color: var(--hope-colors-neutral12);
    font-size: var(--hope-fontSizes-base);
    line-height: var(--hope-lineHeights-base);
    transition: color 250ms ease 0s, border-color 250ms ease 0s, background-color 250ms ease 0s, box-shadow 250ms ease 0s;
}

button, input, textarea, select, optgroup {
    font-family: inherit;
    font-size: 100%;
}

.hope-c-PJLV-ifDMJcV-css {
    width: var(--hope-sizes-full);
}

.hope-c-PJLV-ifDMJcV-css {
    border-radius: var(--hope-radii-lg);
}

.hope-c-ivMHWx-fbcPgu-cv {
    background-color: var(--hope-colors-accent4);
    color: var(--hope-colors-accent11);
}

.hope-c-ivMHWx-kWSPeQ-size-md {
    height: var(--hope-sizes-10);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-inline-start: var(--hope-space-4);
    padding-inline-end: var(--hope-space-4);
    font-size: var(--hope-fontSizes-base);
}

.hope-c-ivMHWx-kcPQpq-variant-subtle {
    border: 1px solid transparent;
}

.hope-c-ivMHWx {
    appearance: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: var(--hope-radii-sm);
    padding: 0px;
    font-weight: var(--hope-fontWeights-medium);
    line-height: var(--hope-lineHeights-none);
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    transition: color 250ms ease 0s, background-color 250ms ease 0s, box-shadow 250ms ease 0s;
}

button, input, textarea, select, optgroup {
    font-family: inherit;
    font-size: 100%;
}

main {
    position: relative;
    top: 6rem;
    border-radius: 2rem;
    background-color: white;
    opacity: 0.9;
}